<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question Answering Bot</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Question Answering Bot</h1>
        <div class="content">
            <div class="left-container">
                <label for="context">Context</label>
                <textarea id="context" placeholder="Enter context here..."></textarea>
                <label for="question">Question</label>
                <input type="text" id="question" placeholder="Enter your question here...">
                <label for="category">Model</label>
                <select id="category" onchange="checkCategory()">
                    <option value="none" selected>None</option>
                    <option value="Bartpho-UITViQuAD">Bartpho-UITViQuAD</option>
                    <option value="Bartpho-UITCourseInfo">Bartpho-UITCourseInfo</option>
                    <option value="ViT5-UITViQuAD">ViT5-UITViQuAD</option>
                    <option value="ViT5-UITCourseInfo">ViT5-UITCourseInfo</option>
                </select>
                <div class="button-group">
                    <button class="clear-btn" onclick="clearFields()">Clear</button>
                    <button class="submit-btn" onclick="submitForm()">Submit</button>
                </div>
            </div>
            <div class="right-container">
                <label for="answer">Answer</label>
                <div class="answer" id="answer">
                </div>
            </div>
        </div>
    </div>
    <script>
        function clearFields() {
            document.getElementById('context').value = '';
            document.getElementById('question').value = '';
            document.getElementById('category').value = 'none';
        }

        async function submitForm() {
            const context = document.getElementById('context').value;
            const question = document.getElementById('question').value;
            const category = document.getElementById('category').value;
            try {
                const response = await fetch('/inference/requestQA', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ context, question, category}),
                });
                const data = await response.json();
                document.getElementById('answer').textContent = data.answer;
            } catch (error) {
                console.error('Error:', error);
                alert('An unexpected error occurred.');
            }
        }

        async function checkCategory() {
            const category = document.getElementById('category').value;
            if (category !== 'none') {
                try {
                    console.log(category);
                    const response = await fetch('/inference/selectModel', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({category }),
                    });
                    const data = await response.json();
                    console.log('Inference response:', data);
                } catch (error) {
                    console.error('Error:', error);
                    alert('An error occurred while fetching inference data.');
                }
            }
        }
    </script>
</body>
</html>
